# OSX
#
react-native-client/.DS_Store

# Xcode
#
react-native-client/build/
react-native-client/*.pbxuser
react-native-client/!default.pbxuser
react-native-client/*.mode1v3
react-native-client/!default.mode1v3
react-native-client/*.mode2v3
react-native-client/!default.mode2v3
react-native-client/*.perspectivev3
react-native-client/!default.perspectivev3
react-native-client/xcuserdata
react-native-client/*.xccheckout
react-native-client/*.moved-aside
react-native-client/DerivedData
react-native-client/*.hmap
react-native-client/*.ipa
react-native-client/*.xcuserstate

# Android/IntelliJ
#
react-native-client/build/
react-native-client/.idea
react-native-client/.gradle
react-native-client/local.properties
react-native-client/*.iml
react-native-client/*.hprof

# node.js
#
react-native-client/node_modules/
react-native-client/npm-debug.log
react-native-client/yarn-error.log

# BUCK
react-native-client/buck-out/
react-native-client/\.buckd/
react-native-client/*.keystore
react-native-client/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

react-native-client/*/fastlane/report.xml
react-native-client/*/fastlane/Preview.html
react-native-client/*/fastlane/screenshots

# Bundle artifact
react-native-client/*.jsbundle

# CocoaPods
react-native-client//ios/Pods/

#amplify-do-not-edit-begin
react-native-client/amplify/\#current-cloud-backend
react-native-client/amplify/.config/local-*
react-native-client/amplify/logs
react-native-client/amplify/mock-data
react-native-client/amplify/backend/amplify-meta.json
react-native-client/amplify/backend/.temp
react-native-client/build/
react-native-client/dist/
react-native-client/node_modules/
react-native-client/aws-exports.js
react-native-client/awsconfiguration.json
react-native-client/amplifyconfiguration.json
react-native-client/amplifyconfiguration.dart
react-native-client/amplify-build-config.json
react-native-client/amplify-gradle-config.json
react-native-client/amplifytools.xcconfig
react-native-client/.secret-*
react-native-client/**.sample
